/.vscode
/moduli-theory-blx.bib
/moduli-theory.aux
/moduli-theory.bbl
/moduli-theory.bcf
/moduli-theory.blg
/moduli-theory.fdb_latexmk
/moduli-theory.fls
/moduli-theory.log
/moduli-theory.out
/moduli-theory.run.xml
/moduli-theory.synctex.gz
/moduli-theory.toc